---
import Layout from '../layouts/Base.astro';
import { getSession } from 'auth-astro/server';

const session = await getSession(Astro.request);
---
<Layout>
  <button id="login">Login</button>
  <button id="logout">Logout</button>

  <script type="module" is:inline>
    import { signIn, signOut } from '../../node_modules/auth-astro/client.ts';

    document.querySelector("#login").onclick = () => {
      console.log("Login button clicked");
      signIn("github").catch((err) => console.error("SignIn Error:", err));
    };

    document.querySelector("#logout").onclick = () => {
      console.log("Logout button clicked");
      signOut().catch((err) => console.error("SignOut Error:", err));
    };
  </script>

  {
    session ? (
      <p>Welcome {session.user?.name}</p>
    ) : (
      <p>Not logged in</p>
    )
  }
</Layout>